@mixin cssarrow($direction, $width, $color) {
  content: '';
  position: absolute;
  width: 0;
  height: 0;

  @if $direction == bottom OR $direction == top {
    left: 50%;
    transform: translateX(-50%);
    border-left: $width solid transparent;
    border-right: $width solid transparent;
  }

  @if $direction == bottom {
    bottom: $width * -1;
    border-top: $width solid $color;
  }

  @if $direction == top {
    top: $width * -1;
    border-bottom: $width solid $color;
  }

  @if $direction == left OR $direction == right {
    top: 50%;
    transform: translateY(-50%);
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
  }

  @if $direction == left {
    left: $width * -1;
    border-right: $width solid $color;
  }

  @if $direction == right {
    right: $width * -1;
    border-left: $width solid $color;
  }
}
